<h1 class="mt-4">Dashboard</h1>
<div class="top-header">
    <h4>Welcome User</h4>
    <a href="/addBookMark" class="btn btn-success "><i class="fas fa-plus"></i> Add BookMark</a>
</div> 
<hr>

<h4> Bookmarks - </h4>
<br>

<%- include("./partials/bookmarks") %>