<br>
<h4>There is an Error , the reasons might be -> </h4>
<h5>1.) Error 404 : Not Found</h5>
<h5>2.) Error 500 : Server Error</h5>
<h5>3.) Violation of the Database Schema or Wrong id </h5>
<br>
<a href="/" class="btn btn-secondary">Go Back</a>